* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-azzurrino:#3161e0 ;
    --col-bianco:#ffffff ;
    --col-nero:#23272a ;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.giallo {
    padding-top: 35px;
}

.row {
    padding: 20px;
}


.card {
    background-color: blue;
}

.grande, .piccola {
    padding: 30px;
}

.grande {
    width: 70%;
}

.piccola {
    width: 30%;
}

.main_bianco {
    background-color: white;
}

.main_grigio {
    background-color: lightgrey;
}


.big, .small {
    width: 100%;
}

section {
    padding-bottom: 2rem;
}

.a {
    width: 40%;
}

.b {
    width: 15%;
    margin-left: 5px;
}





/* fine regole generali*/

.left {
    cursor: pointer;
}


.navigazione {
    width: calc(100% / 5);
    font-size: 15px;
    color: var(--col-bianco);
    padding-top: 8px;
    cursor: pointer;
}


.access {
    width: 25%;
}

.accedi {
    background-color: var(--col-bianco);
    color: var(--col-nero);
    height: 30px;
    border-radius: 10px;
    padding-right: 13px;
    padding-top: 5px;
    cursor: pointer;
}


.row_rosso {
    padding-top: 15px;
}


.left, .right {
    width: 25%;
}

.right{
    text-align: right;
    padding-top: 6px;

}


.center {
    width: 50%;
    text-align: center;
}

.contenitore_grigio {
    width: 60%;
    max-width: 1170px;
    margin: auto;
}


.blu {
    height: 400px;
    padding: 80px;
}

header {
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

/*fine header*/

footer {
    background-color: blue;
}

.riga {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.linea {
    justify-content: space-between;
}

.finale {
    height: 25px;
    width: 70px;
    background-color: green;
}




